body,
.dark,
.light,
.szimplayaplight,
.szimplayapdark {
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}
.cim {
  background-color: yellow;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 20px;
}
.dark {
  background-color: black;
}
.light {
  background-color: white;
  color: black;
}

.yap {
  width: 520px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  border-color: #45631e;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  background-color: rgb(178, 218, 126, 0.7);
}
#nagyyap {
  width: 520px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  border-color: #45631e;
  border-style: solid;
  background-color: rgb(178, 218, 126, 0.7);
  height: 400px;
}
#nagyyap:hover {
  border-color: #658e2e;
  -webkit-box-shadow: 0px 0px 105px 45px rgba(25, 71, 23, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(25, 71, 23, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(25, 71, 23, 0.9);
  background-color: #567929;
}
.yap:hover {
  border-color: #658e2e;
  -webkit-box-shadow: 0px 0px 105px 45px rgba(25, 71, 23, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(25, 71, 23, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(25, 71, 23, 0.9);
  background-color: #567929;
}
.szimplayap {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding-top: 20px;
}
.szimplayaplight {
  color: #fff;
  background-color: #000;
}
.szimplayaplight:hover {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
/*.szimplayapdark {
  color: #000;
  background-color: #fff;
}*/
.szimplayapdark:hover {
  color: #000;
  text-shadow: 0 0 7px lightgrey, 0 0 10px lightgrey, 0 0 21px lightgrey,
    0 0 42px lightgrey, 0 0 82px lightgrey, 0 0 92px lightgrey,
    0 0 102px lightgrey, 0 0 151px lightgrey;
}
#kisyap {
  background-color: black;
  height: 10px;
}

.gombok {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 1px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}
.gombok:hover {
  color: yellow;
  background-color: crimson;
}
.mufajok {
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.card {
  font-family: "Courier New", Courier, monospace;
  background: #458545;
  border-radius: 16px;
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
  border-color: black;
  border-style: dotted;
  border-width: 1px;
}
.card p {
  opacity: 0;
  transition: opacity 0.2s ease;
  margin-top: 10px;
}

.card:hover {
  height: 320px;
  transform: scale(1.35);
  z-index: 10;
  align-items: flex-start;
  width: 480px;
}

.card:hover p {
  opacity: 1;
}

.card-felso {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.card-info span {
  display: block;
  font-size: 12px;
}
.card-info img {
  padding-top: 30px;
  width: 100px;
  height: 90px;
  border-color: #fff;
  border-width: 2px;
  border-style: dashed;
}
.card-nagy {
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.25s ease;
  padding: 20px;
}

.card:hover .card-nagy {
  opacity: 1;
}

.card-info span,
.card-also {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}
.card:hover .card-info span,
.card:hover .card-nagy {
  opacity: 1;
  pointer-events: auto;
}
.card:hover .card-cucc {
  opacity: 1;
  pointer-events: auto;
}
.card:hover .card-cim {
  opacity: 0;
}
.card-cim {
  font-size: 48px;
  font-weight: bold;
  transition: opacity 0.2s ease;
}
.card-cucc {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  transition: opacity 0.25s ease;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
}
table th {
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
}
table {
  padding-left: 50px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
#magyaraz {
  height: 200px;
  width: 350px;
  background-color: #458545;
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New", Courier, monospace;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#tovabb {
  font-family: "Courier New", Courier, monospace;
  border-radius: 16px;
  padding: 10px;
  height: 120px;
  background-color: #45631e;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
figcaption {
  font-size: smaller;
  font-weight: lighter;
}
.navibar {
  background-color: yellow;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  margin-top: 30px;
}
.navibargombok {
  font-size: large;
  padding: 30px;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.navibargombok:visited {
  color: #000;
}
.navibargombok:hover {
  color: red;
}
.albumcard {
  width: 200px;
  height: 210px;
  background-color: #45631e;
  margin: 20px;
  color: #fff;
 }
.albumcover {
  border-color: #fff;
  border-style: dashed;
  border-width: 2px;
  width: 400px;
  height: 400px;
}
.albumcardnagy {
  width: 600px;
  height: 500px;
  background-color: #631e1e;
  color: #fff;
}
.albummeta {
  display: none;
}
